@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-size: .4rem;
  font-weight: 700;
}

pre::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}